body{
    margin: 0px 240px;
    background-color: slategray;
    font-family: 'Inconsolata', monospace;
  }
  
  .history h1 {
    background-color: lightgray;
    margin: 0px;
    display: flex;
    justify-content: center;
    font-size: 96px;
  }
  
  .history p {
    font-size: 32px;
    margin: 0px;
    padding: 24px;
    text-align: center;
    background-color: darkgray;
  }
  
  .history a {
    text-decoration: none;
    color: lightgray;
    background-color: black;
    font-size: 48px;
    display: flex;
    justify-content: center;
    margin: 0px;
  }
  
  a:visited {
    color: slategray;
  }